/* Definindo a imagem de fundo para todo o body */
.bg-image-dashboard {
  background-image: url('./assets/plano-de-fundo-cidade.jpg');
  background-size: cover; /* Garante que a imagem de fundo cubra toda a tela */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container principal do dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Estilo do dashboard */
.dashboard {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 5rem;
  max-width: 70rem;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  box-sizing: border-box;
}

/* Container para os cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

/* Estilo dos cards */
.card {
  background-color: rgb(255, 255, 255, 0.1) !important;
  padding: 3rem;
  border-radius: 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(25% - 0.05rem);
  transition: transform 0.3s;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

/* Estilo do ícone dentro do card */
.icon {
  margin-top: 0.8rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: white;
}

/* Estilo do título dentro do card */
.card h3 {
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
}

/* Efeito hover nos cards */
.card {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card:hover {
  background-color: var(--main-color) !important;
  color: white;
}

/* Efeito de clique no botão */
.card button:active {
  transform: scale(0.95);
}

/* Media Queries para responsividade */

/* Para telas menores que 1024px (tablets) */
@media (max-width: 1024px) {
  .dashboard {
    padding: 3rem;
  }

  .card {
    width: calc(50% - 0.05rem); /* Cada card ocupa 50% da largura da tela */
  }
}

/* Para telas menores que 768px (smartphones em orientação paisagem) */
@media (max-width: 768px) {
  .dashboard {
    padding: 2rem;
  }

  .card {
    width: calc(50% - 0.05rem);
  }
}

/* Para telas menores que 480px (smartphones em orientação retrato) */
@media (max-width: 480px) {
  .dashboard {
    padding: 1rem;
  }

  .card {
    width: 100%; /* Cada card ocupa 100% da largura da tela */
  }

  .icon {
    font-size: 1.5rem; /* Reduz o tamanho do ícone */
  }

  .card h3 {
    font-size: 1.1rem; /* Reduz o tamanho do título */
  }
}





/* Modo Claro */
body {
  background-color: white;
  color: black;
}

/* Modo Escuro */
body.dark-mode {
  background-color: black;
  color: white;
}
