/* Definindo a imagem de fundo para todo o body */
.bg-image-dashboard {
  background-image: url('./assets/plano-de-fundo-cidade.jpg'); /* Caminho da imagem de fundo */
  background-size: 100% 100%; 
  background-attachment: fixed;    /* Mantém a imagem fixa enquanto o conteúdo rola */
  margin: 0;                       /* Remove margens padrão do body */
  padding: 0;                      /* Remove padding do body */
  height: 100%;                    /* Garantir que o body ocupe 100% da altura da tela */
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    margin: 0;
    padding: 0; /* Remover padding extra */
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da página */
}

.dashboard {
    text-align: center;
    padding: 3rem;
    max-width: 60rem; /* Máxima largura para o conteúdo */
    width: 100%; /* A largura será 100% até o máximo especificado */
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 2px solid white;
    box-sizing: border-box; /* Garante que o padding não aumente a altura da caixa */
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(255, 255, 255, 0.15) !important;
    padding: 1.5rem 0.3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    transition: transform 0.3s;
    backdrop-filter: blur(8px); /* Aplica o efeito de desfoque (blur) no fundo */
    -webkit-backdrop-filter: blur(10px); /* Para garantir compatibilidade com navegadores WebKit (Safari) */
    border: 2px solid white !important;
}

.icon {

  font-size: 3.5rem;
  color: white;
}

.card h3 {
  color: white;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.card button {
    width: 85%;
    height: 75%;
    background-color: white;
    color: var(--bg-color);
    font-size: 1rem;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
    background-color: var(--second-main-color);
    color: white;

}

.card button:active {
  transform: scale(0.95);  /* O botão encolhe um pouco ao ser pressionado */
}