.container-geral-enderecos {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
}

.container-geral-enderecos h4 {
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    align-self: center; /* alinha o próprio elemento */
}

.container-inputs-endereco{
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 5rem 5rem 1rem;
    margin-bottom: 2rem;
    align-self: center; 
    justify-self: center;
}

.container-forms {
    margin-bottom: 2rem;
}
.container-forms label {
    font-size: 1.1rem;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    margin-left: 1.5rem;
}

.container-forms input {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;
    border: none;
    backdrop-filter: blur(3px);
    border-radius: 0rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    border: 1px solid white;
}

.container-forms input::placeholder {
    color: white;
}
.btn-add-enderecos {
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
    width: 50% !important;
    padding: 0.9rem !important;
    font-size: 1.2rem !important;
    color: white !important;
    background-color: rgb(63, 142, 112) !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adiciona a transição para transform */
    display: block !important;         /* Faz o botão ser tratado como bloco */
    margin: 0 auto;         /* Centraliza o botão horizontalmente */
}

.btn-rmv-enderecos {
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
    width: 60% !important;
    padding: 0.9rem !important;
    font-size: 1.2rem !important;
    color: white !important;
    background-color: #a55252 !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adiciona a transição para transform */
    display: block !important;         /* Faz o botão ser tratado como bloco */
    margin: 0 auto;         /* Centraliza o botão horizontalmente */
}

