/* Título */
.titulo-GerenciarVeiculos, .titulo-manutencao-GerenciarVeiculo {
  color: white;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 2rem;
}

/* Container principal */
.container-principal-veiculos {
  background-color: #564a4b;
  padding: 1.2rem;
  width: 100%;
  font-family: Arial, sans-serif;
}





/* Navegação das abas */
.container-principal-veiculos .nav {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.container-principal-veiculos .nav a {
  color: #fff;
  padding: 1.5rem 6rem;
  text-decoration: none;
  font-weight: lighter;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: none;
}

.container-principal-veiculos .nav a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  cursor: pointer;
  border-radius: 0 !important;
}

.container-principal-veiculos .nav a.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgb(0, 181, 96);
  border-radius: 0 !important;
}





/* Formulários */
.form-section2-veiculo input,
.form-section2-veiculo select,
.form-section2-veiculo textarea {
  width: 100%;
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: white;
  margin-bottom: 2rem;
  border-radius: 0;
  border: 1px solid white;
}

.form-section2-veiculo input:focus,
.form-section2-veiculo select:focus,
.form-section2-veiculo textarea:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  outline: none;
  border: 1px solid white;
  outline: none;
  box-shadow: none !important;
}

.form-section2-veiculo input::placeholder,
.form-section2-veiculo select::placeholder,
.form-section2-veiculo textarea::placeholder {
  color: white;
}





/* TABLE ---------------------------------------------------------------- */
.custom-table {
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-spacing: 0;
}

.container-search-veiculos {
  background-color: rgba(255, 255, 255, 0.1);
}


.custom-th, .custom-td-paciente {
  padding: 12px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-th {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bold;
}

.custom-tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Ações da tabela */
.icon-container {
  display: flex;
  align-items: center;
}

.custom-icon-action {
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.custom-icon-action:hover {
  transform: scale(1.2);
}

.custom-icon-action.edit {
  color: #4CAF50;
}

.custom-icon-action.delete {
  color: #F44336;
}

.custom-icon-action.reactivate {
  color: #2196F3;
}

/* Containers */
.form-container {
  margin-bottom: 30px;
}

.form-list-container {
  background-color: none;
  width: 80rem;
  align-items: center;
  justify-items: center;
}

.container-forms-e-lists {
  width: 100%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

.form-section2-veiculo {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40%;
  padding: 4rem 3rem 2rem;
  margin-bottom: 3rem;
}

.div-botoes-veiculo {
  background-color: none;
  justify-self: center;
  align-self: center;
}

.botao-criar-veiculos {
  background-color: white;
  color: var(--bg-color);
  border: none;
  padding: 1rem 3rem;
  justify-self: center;
  align-self: center;
}

.botao-limpar-veiculos {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  padding: 0.99rem 1rem !important;
  border-radius: 0 !important;
}





/* MODAL ---------------------------------------------------------------- */
.container-principal-veiculos .modal-header {
  color: #fff;
  border-bottom: none;
}

.container-principal-veiculos .modal-body {
  padding: 20px;
}

/* Container de pesquisa */
.custom-search-container {
  position: relative;
  width: 60%;
}

.custom-div-form-section2-search {
  margin-bottom: 3rem !important;
  padding: 0;
  border-radius: 8px;
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/* FORNECEDOR ----------------------------------------------------------- */
.botao-criar-fornecedor-veiculos {
  background-color: #4CAF50 !important;
}

.botao-criar-veiculos-fornecedor {
  background-color: white;
  color: var(--bg-color);
  border: none;
  padding: 1rem 3rem;
  justify-self: center;
  align-self: center;
  margin-right: 1rem;
}

.div-botoes-veiculo-fornecedor {
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
  max-width: 480px;
}





/* MANUTENÇÃO --------------------------------------------------------- */
.form-container-manutencao {
  margin-bottom: 2rem; /* Adiciona uma margem inferior para separar o formulário */
  padding: 20px;
  width: 53%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Contêiner flex */
  flex-direction: column; /* Alinha os itens verticalmente */
  align-self: center;
  justify-self: center;
}

.form-container-manutencao h4 {
  margin-top: 3rem;
  margin-left: 2.3rem ;

}

.form-container-manutencao input {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  padding: 0.7rem;
  color: white;
  width: 30rem;
}

.form-container-manutencao select {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  padding: 0.7rem;
  color: white;
  width: 30rem;
}

.form-container-manutencao .select div {
  
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  padding: 0.7rem;
  color: white;
  width: 30rem;
}


.div-input-manutencao {
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
  max-width: 480px;
}










/* Estilos para o select */
.custom-select {
  background-color: red !important;
  width: 100%; /* Exemplo de largura */
  border-radius: 4px;
}

/* Estilos para as opções dentro do select */
.custom-select__control {
  background-color: red !important;
  border-color: #ddd;
}

.custom-select__single-value {
  background-color: red !important;
  color: #333;
}

/* Estilos para quando o select estiver em foco */
.custom-select__control--is-focused {
  border-color: #5e364d !important;
}
