.gerenciar-paciente {
    padding: 20px;
    background-color: #3d3f4b;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.titulo-form-paciente   {
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}


.body-modal-pac button{
    background-color: white;
    color: var(--bg-color);
    padding: 1rem 6rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
}


