/* PÁGINA CALENDÁRIO GRANDE ------------------------------------------------- */
.container-calendario-agendamentos {
  padding: 8.5rem 0rem 10rem 0rem;
  /* background-color: rgb(156, 91, 91); */
  background-color: #c6c6c6;
}


/* Wrapper geral do calendário */
.calendario-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #571919; */
}

/* Container centralizado */
.calendario-content {
  width: 100%;
  max-width: 1200px;
  min-height: 600px; /* Alterado para min-height */
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0, 0.1);
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

/* Título da seção */
.calendario-titulo {
  font-size: 24px;
  margin-bottom: 16px;
  color: #a40909;
}

/* Componente de calendário */
.calendario-componente {
  flex-grow: 1; /* Faz o calendário ocupar o espaço restante */
  min-height: 500px; /* Garante uma altura mínima */
  font-family: 'Segoe UI', sans-serif;
}


/* Sobrescreve o estilo do dia de hoje */
.rbc-today {
  background-color: #37ada488; /* Altere para a cor que você deseja para o fundo do dia de hoje */
}

/* Estilos evento no dia */
.rbc-event {
    background-color: #a0f5ab; /* Cor de fundo do evento */
    color: #fff; /* Cor do texto dentro do evento */
    border-radius: 5px; /* Bordas arredondadas para os eventos */
    padding: 5px 10px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de profundidade */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Quando um evento é selecionado */
.rbc-selected {
    background-color: #0288d1; /* Altere a cor para destacar o evento selecionado */
    border: 2px solid #0288d1; /* Borda para o evento selecionado */
}

/* Quando um evento é hover */
.rbc-event:hover {
    background-color: #1565c0; /* Cor do fundo quando o evento é hover */
}

/* Estilos para o conteúdo do evento (ex: título) */
.rbc-event-content {
    display: flex;
    justify-content: space-between;
    font-weight: bold; /* Deixa o título mais em destaque */
}

/* Estilo para o rótulo do evento (ex: ícones ou informações adicionais) */
.rbc-event-label {
    font-size: 12px;
    font-weight: normal;
    color: #f1f1f1;
}





/* PÁGINA DE CRIAR NOVO AGENDAMENTO ---------------------------------------- */
.agendamento-form {
  width: 100%;
  background-color: var(--theme-color);
  padding-top: 4.3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.agendamento-form-form {
  width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agendamento-form-form h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #fff;
}

.agendamento-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.agendamento-form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

.agendamento-form-form label {
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  color: #fff;
}

.agendamento-form-form input,
.agendamento-form-form select {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #cccccc7e;
}

/* Customizando o estilo do React-Select com o classNamePrefix "select-ag" */
.select-ag__control {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
  border: 1px solid #fff;
  padding: 0.4rem;
  font-size: 1rem;
  min-height: 38px;
  border-radius: 0 !important;
}
.select-ag__placeholder {
  color: #fff !important; /* Cor do placeholder */
}
/* Cor do texto quando uma opção está selecionada (para select simples) */
.select-ag__single-value {
  color: #fff !important;
}

.select-ag__control--is-focused {
  border-color: none !important;
  box-shadow: none !important;
}

.select-ag__placeholder,
.select-ag__single-value {
  color: #444;
  font-size: 1rem;
}

.select-ag__menu {
  font-size: 1rem;
  z-index: 100; /* Evita sobreposição estranha */
}

.select-ag__option--is-focused {
  background-color: #f0f0f0;
}

.select-ag__option--is-selected {
  background-color: #0066cc;
  color: white;
}

.agendamento-form-form button {
  width: 60%;
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #4b9a80;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-self: center;
  justify-self: center;
}

.agendamento-form-form button:hover {
  background-color: #37725e;
}
