.tab-pane-center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100%; /* Garante que o conteúdo ocupe toda a altura do TabPane */
  }