:root{
  --main-color: #19adc4;
  --second-main-color: #0e7886;
  --bg-color: #333333;
}

* {
  font-family: 'Neo Sans Std', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

/* Estilo do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: var(--bg-color); /* Cor de fundo da barra de rolagem */
}

/* Estilo da parte que você pode arrastar (thumb) */
::-webkit-scrollbar-thumb {
    background-color: var(--second-main-color); /* Cor da parte que pode ser arrastada */
    border-radius: 1000px; /* Bordas arredondadas para a parte que você arrasta */
}
