.custom-navbar {
    background: rgba(0, 0, 0, 0.3);
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    font-size: 1.35rem !important;
    padding: 0 !important;
    margin-left: 3rem !important;
}


/* Remove a borda do NavbarToggler (botão hambúrguer) */
.hamburguer {
    background: none !important;  /* Remove o fundo */
    border: none !important;      /* Remove a borda */
    padding: 1rem !important;        /* Remove o padding */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Remove a borda e o outline quando o botão estiver em foco */
.hamburguer:focus, .hamburguer:active {
    outline: none !important;     /* Remove o contorno/foco */
    box-shadow: none !important;  /* Remove qualquer sombra */
}

/* Ajusta o estilo do ícone do hambúrguer */
.hamburguer-icon {
    width: 30px;
    height: 30px;
    stroke: white;
}


.nav-link {
    padding: 1.3rem 2.5rem !important;
    font-size: 13px !important;
    color: #fff !important; /* Links brancos */
    font-weight: bold !important;
}

.nav-link:hover {
    color: #ddd !important; /* Cor mais clara ao passar o mouse */
    background-color: var(--second-main-color) !important;; /* Cor de fundo azul */
    height: auto;
}


.dropdown > div {
    color: white !important; /* Texto branco */
    background: rgba(0, 0, 0, 0.911); /* Fundo translúcido */
    backdrop-filter: blur(10px); /* Valor mais moderado para teste */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade */
    padding: 1rem 0.5rem;
    margin: 0;
    border-radius: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute; /* Garante que o dropdown esteja fora do fluxo */
    z-index: 1000; /* Garante que esteja acima de outros elementos */
    border: none;
}


.dropdown-item {
    width: 100%;
    padding: 1.1rem 3.5rem !important;
    text-align: left;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}


/* Remove estilos antigos */
.dropdown-grid div .dropdown-item:hover {
    background-color: #911717;
}

