.login-container {
    display: flex; /* Define um layout flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o contêiner ocupe a altura total da tela */
  }
  
  
  .login-container body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    height: 100vh;
  }
  
  .login-container h1,
  .login-container p,
  .login-container a {
    margin: 0;
    text-align: center;
  }
  
  .login-container a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-container button {
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--button-padding);
    border-radius: var(--container-border-radius);
    font-size: var(--button-font-size);
    cursor: pointer;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
  }
  
  .login-container button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px var(--shadow-color);
  }
  
  .login-container button:active {
    transform: scale(0.95);
  }
  
  .login-container form {
    background-color: var(--secondary-color);
    width: var(--container-width);
    border-radius: var(--container-border-radius);
    box-shadow: 0 4px 10px var(--shadow-color);
    padding: var(--form-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  