:root{
  --main-color: #19adc4;
  --second-main-color: #0e7886;
  --bg-color: #333333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contêiner principal */
.login-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Imagem de fundo */
.bg-image-login {
  background-image: url('/assets/ferraz-predio-imagem.jpeg'); /* Caminho da imagem de fundo */
  background-size: cover;          /* Faz a imagem cobrir toda a área disponível */
  background-position: center;     /* Centraliza a imagem */
  background-attachment: fixed;    /* Mantém a imagem fixa enquanto o conteúdo rola */
  height: 100vh;                   /* Ocupa toda a altura da viewport */
  width: 100%;                     /* Ocupa toda a largura da tela */
  position: absolute;              /* Garante que a imagem fique atrás do conteúdo */
  top: 0;
  left: 0;
  z-index: -1;                     /* Coloca a imagem de fundo atrás de outros elementos */
}

.bg-image-login::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Cor preta com 50% de opacidade */
  z-index: 1; /* Garante que o filtro ficará sobre a imagem */
}

/* Conteúdo principal */
.login-content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  border: 0.13rem solid white;
}

/* Estilização do formulário */
.login-form h1 {
  font-size: 1.6rem;
  margin: 2rem;
  color: white;
}

.form-group {
  margin-bottom: 2rem;
  text-align: left;
}

.form-group label {
    font-size: 1.1rem;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    margin-left: 1.5rem;
}

.form-group input {
  font-size: 1rem;
  font-family: 'Comfortaa', sans-serif;
  padding: 1rem;
  width: 100%;
  border: none;
  backdrop-filter: blur(3px);
  border-radius: 0.9rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  border: 0.13rem solid white;
}

#senha{
  backdrop-filter: blur(4px);
}

.form-group input:focus {
  outline: none;
  border-color: var(--second-main-color);
}

/* Botão de login */
.login-button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 90%;
  padding: 0.9rem;
  font-size: 1.2rem;
  color: var(--bg-color);
  background-color: rgba(255, 255, 255);
  border: none;
  border-radius: 100px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Adiciona a transição para transform */
}

.login-button:active {
  transform: scale(0.95);  /* O botão encolhe um pouco ao ser pressionado */
  background-color: rgba(255, 255, 255, 0.4); /* Mudança de cor ao clicar */
}

.login-button:hover {
  background-color: var(--second-main-color);
  color: white;
}
