.titulo-paciente {
    color: white;
    font-size: 1.6rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    align-self: center; /* alinha o próprio elemento */
}

/* esse é o container dos inputs*/
.form-input-paciente{
    color: white;
    width: 80%;
    margin-top: 2rem;
}

.form-input-paciente:last-of-type {
    margin-bottom: 3.2rem;  /* Exemplo de margem para o primeiro elemento */
}

.form-input-paciente:first-of-type {
    margin-top: 0.5rem;  /* Exemplo de margem para o primeiro elemento */
}

.form-input-paciente input {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;
    border: none;
    backdrop-filter: blur(3px);
    border-radius: 0rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    border: 1px solid white;
}

.form-input-paciente:last-of-type input {
    margin-bottom: 3rem;
}

/* Estilo para o DatePicker */
.form-input-paciente .react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container input {
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;
    border: none;
    backdrop-filter: blur(3px);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
    border: 1px solid white;
}

.react-datepicker__input-container input::placeholder{
    color: white;
}


.form-input-paciente input::placeholder{
    color: white;
}

.form-input-paciente label{
    font-size: 1.1rem;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    margin-left: 1.5rem;
}

.container-inputs {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:80%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    align-content: center;
    align-items: center;
}

/* esse é o container de todos os formulários */
.container-global-pacientes {
    border-radius: 8px;
    width: 40rem;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    align-content: center;
    align-items: center;
}

.btn-salvar-pacientes {
    margin: 0.5rem;
    background-color: white !important;
    color: var(--bg-color) !important;
    padding: 1rem 6rem !important;
    border-radius: 0 !important;
    border: none !important;
}

.btn-limpar-pacientes {
    margin: 0.5rem;
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    padding: 1rem 3rem !important;
    border-radius: 0 !important;
    border: 1px solid white !important;

}