/* Estilos para o container principal do dashboard */
.dashboard-container-relatorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-image: url('./assets/plano-de-fundo-cidade.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.dashboard-relatorios {
  /* background-color: rgba(255, 255, 255, 0.1); */
  margin-top: 3rem !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 6rem;
}

/* Título principal */
.dashboard-container-relatorios h1 {
  margin-top: 3rem;
  font-size: 2.3rem;
}

/* Parágrafo que aparece abaixo do título */
.dashboard-container-relatorios p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Container para os cards de relatórios */
.reports-grid {
  display: flex;
  justify-content: space-evenly;
}

/* Estilo dos cards de relatórios */
.report-card {
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 15%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem; /* Aumenta um pouco o padding-base */
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(15px);
  box-sizing: border-box;
  flex: 0 0 auto; /* Impede que os cards se ajustem automaticamente */
  transition: 0.3s ease;
  position: relative; /* Necessário para usar o transform */
}

/* Estilo do título dentro do card */
.report-card h2 {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: left;
}

/* Estilo do texto dentro dos cards */
.report-card p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
}

/* Efeito de hover para aumentar o padding-bottom e sair do card */
.report-card:hover {
  background-color: var(--main-color); /* Trocar por cor que deseja */
  transform: translateY(-5px); /* Faz o card "subir" um pouco */
}


/* Efeito de clique no card */
.report-card:active {
  transform: scale(0.95);
}

/* Estilos para o card "invalid" */
.report-card.invalid {
  opacity: 0.5;
  pointer-events: none; /* Desabilita o clique */
}
