/* GerenciarUser.css */
.gerenciar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .gerenciar h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .gerenciar form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gerenciar form div {
    margin-bottom: 15px;
  }
  
  .gerenciar label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .gerenciar input,
  select,
  option {
    color: black;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .gerenciar button, .edit-userForm {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .gerenciar button:hover, .edit-userForm {
    background-color: #45a049;
  }
  
  .gerenciar  button[type="button"] {
    background-color: #f44336;
  }
  
  .gerenciar button[type="button"]:hover {
    background-color: #e53935;
  }
  
  .gerenciar table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  
  .gerenciar  thead {
    background-color: #f4f4f4;
  }
  
  .gerenciar  th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    color: black;
  }
  .gerenciar td {
    white-space: normal; /* Permite quebra de linha */
    word-break: break-word; /* Quebra as palavras longas */
  }
  
  /* Ajuste específico para a última célula (ícones de ação) */
  .gerenciar td:last-child {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os ícones */
    align-items: center;    /* Centraliza verticalmente */
    gap: 10px;              /* Espaçamento entre os ícones */
    white-space: nowrap;    /* Evita quebra de linha para os ícones */
  }
  
  /* Centralização do conteúdo */
  .gerenciar table {
    text-align: center;
  }
  
  .gerenciar td, .gerenciar th {
    vertical-align: middle;
  }
  
  /* Ajuste de largura mínima */
  .gerenciar th, .gerenciar td {
    min-width: 100px;
  }
  
  .gerenciar td:last-child {
    min-width: 150px;
  }
  
  
  .gerenciar th {
    font-weight: bold;
  }
  
  .gerenciar  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .gerenciar  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .gerenciar button {
    margin-right: 5px;
  }
  
