/* Estilo do container do formulário */
.form-section2-funcionario {
  background-color: rgb(255, 255, 255, 0.1);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 70rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Alinhamento vertical */
  align-items: center;      /* Alinhamento horizontal */
}

/* Estilo da tabela */
.custom-table {
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-spacing: 0;
  border-radius: 15px;
}

.custom-th, .custom-td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.custom-th {
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  font-weight: bold;
}

.custom-tr:nth-child(even) {
  background-color: rgb(255, 255, 255, 0.05); /* Cor para linhas alternadas */
}

/* Linha ativa e desativada */
.row-active {
  background-color: white !important; /* Garante que a linha ativa tenha fundo branco */
}

.row-deleted {
  background-color: #ffcccc !important; /* Linha desativada com fundo vermelho claro */
}

/* Ajustes para a célula de status */
.custom-td:nth-child(5) {
  text-align: center;
}

.custom-search-container {
  position: relative;
  width: 60%;
}

.custom-input-search {
  padding: 0.8rem 2.5rem 0.8rem 1rem;
  border: 1px solid white;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 30px;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding-left: 3rem;
  outline: none;
}

.custom-search-icon-user-list {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.2rem;
}

.custom-icon-action {
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.custom-icon-action:hover {
  transform: scale(1.2);
}

.custom-icon-action.edit {
  color: #4CAF50;
}

.custom-icon-action.delete {
  color: #F44336;
}

.custom-icon-action.reactivate {
  color: #2196F3;
}


table tr.row-deleted td {
  background-color: #ffcccc !important; /* Fundo vermelho claro */
}


