.footer {
    background-color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text {
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(168, 168, 168);
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 7rem;
    height: auto;
}

.developedBy {
    margin-top: 10px;
    font-size: 14px;
    color: #afafaf;
}

.copyright {
    font-size: 12px;
    color: #bdbdbd;
}
